@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Proibido</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" />

    <!-- Bootstrap Css -->
    <link href="../assets/css/bootstrap.min.css"
          id="bootstrap-style"
          rel="stylesheet"
          type="text/css" />
    <!-- Icons Css -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../assets/css/app.min.css"
          id="app-style"
          rel="stylesheet"
          type="text/css" />


</head>

<body>
    <div class="home-btn d-none d-sm-block">
    </div>
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                   <center>  Ops... Parece que você não tem permissão para acessar esse recurso.<br /><br />
                   <a href="Feed" style="color: #fff !important; background-color: #f7941e !important; border-color: #f7941e !important; " class="btn btn-primary w-md waves-effect waves-light">
                        Voltar
                    </a></center>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../assets/libs/jquery/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../assets/libs/node-waves/waves.min.js"></script>

    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/comum.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  
</body>
</html>
