body,html{
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: stretch;
}
header{
    height: 140px;
    background-color: #286fa7;
    display: flex;
    font-size: 38px;
    color: #ffffff;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    height: 100%;  
}
.qntd{
    text-align: center;
    color: #52b653;
    font-size: 408px;
    width: 100%;
    display: inherit;
}
.qntdCxTem{
    text-align: center;
    color: #f29200;
    font-size: 408px;
    width: 100%;
    display: inherit;
}